{% extends "layout.html"%}
{% block content%}
{%if myname == "Moopiris"%}
<h1>Welcome Admin</h1>
<img src="..\static\me.jpg " width="150" height="150" alt="" class="admin">
{% else %}
<h1>Welcome User</h1>
<a href="/"><button>Home</button></a>
{% endif %}

<div class="container">
    <h2>Contact us</h2>
    <form action="/sended" method="GET">
        <div class="form-group">
            <label for="">Name</label>
            <input for="text" name="fname" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea for="description" name="description" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <br>
        <input type="submit" value="Send" class="btn btn-success">
    </form>
    

</div>

{% endblock %}