<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--การเพิ่มรูปภาพจะต้องทำตามกฎของ Fask โดยอ้างอิงมาจากไฟล์ที่ชื่อ static -->
    <!--การที่จะเรียกใช้ html จะต้องทำตามกฎของ Fask โดยอ้างอิงมาจากไฟล์ที่ชื่อ templates -->
    <img src="..\static\blog.png" alt=""> 
    <div class="title">
        <h1>Welcome to Daily</h1>
    </div>
    <div class="menu">
        <div class="row">
            <div class="colume">
                <a href="/">Home </a>
            </div>
            <div class="colume">
                <a href="/about">About </a>
            </div>
            <div class="colume">
                <a href="/admin">Admin</a>
            </div>
        </div>
    </div>
    
        <h2>What is Flask framework?</h2>
        <p>it’s a Python module that lets you develop web applications easily. It’s has a small and easy-to-extend core: it’s a 
            microframework that doesn’t include an ORM (Object Relational Manager) or such features.
            It does have many cool features like url routing, template engine. It is a WSGI web app framework.
            <span><a href="https://pythonbasics.org/what-is-flask-python/">Ref: pythonbasics</span>></p>
    
</body>

</html>