<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--การเพิ่มรูปภาพจะต้องทำตามกฎของ Fask โดยอ้างอิงมาจากไฟล์ที่ชื่อ static -->
    <!--การที่จะเรียกใช้ html จะต้องทำตามกฎของ Fask โดยอ้างอิงมาจากไฟล์ที่ชื่อ templates -->
    <img src="..\static\blog.png" alt=""> 
    <div class="title">
        <h1>Welcome to Daily</h1>
    </div>
    <div class="menu">
        <div class="row">
            <div class="colume">
                <a href="/">Home </a>
            </div>
            <div class="colume">
                <a href="/about">About </a>
            </div>
            <div class="colume">
                <a href="/admin">Admin</a>
            </div>
        </div>
    </div>
    
        <h2>What is Fask framework?</h2>
    
</body>

</html>